<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Digivault</title>
  <link rel="stylesheet" href="../static/style.css" />
</head>

<body>
  <div class="top-banner" style="background-color: rgb(2, 2, 44)">
    <div class="banner-container" style="margin-left: 49px">
      <div class="small-bold-text" style="
            display: flex;
            align-items: center;
            color: white;
            font-size: 12px;
            height: 40px;
          ">
        <img src="static/img/pngwing.png" alt="" style="margin-right: 10px; width: 40px; height: 40px" />
        Government Of India
      </div>
    </div>
  </div>

  <nav style="
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        margin: auto;
        overflow: hidden;
        position: relative;
      ">
    <div class="nav-container" style="
          width: 100%;
          margin: auto;
          overflow: hidden;
          position: relative;
          margin-left: 40px;
        ">
      <div style="display: flex; align-items: center">
        <img src="static/img/emblem.png" alt="" style="width: 60px; height: 90px" />
        <img src="static/img/line.png" alt="" style="width: 40px; height: 90px" />
        <img src="static/img/digivault.png" alt="" style="width: 90px; height: 100px" />
        <div class="small-bold-text" style="
              display: flex;
              flex-direction: column;
              align-items: center;
              color: blue;
              font-size: 30px;
              margin-right: 800px;
            ">
          DigiVault
          <div style="color: blue; font-size: 10px">
            A secure and trust files
          </div>
        </div>
        <!-- <div class="button">
            <button class="semi-rounded-button">Sign In</button>
            <div class="button-gap"></div>
            <button class="semi-rounded-button">Sign Up</button>
          </div> -->
      </div>
    </div>
  </nav>

  <div class="main">
    <div class="container">
      <h2>Validation Form</h2>
      <form id="registration-form">
        <div class="form-group">
          <label for="name">Name:</label>
          <input type="text" id="name" name="name" required />
        </div>
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" required />
        </div>
        <div class="form-group">
          <label for="contact">Contact No.:</label>
          <input type="tel" id="contact" name="contact" required />
        </div>
        <div class="form-group">
          <label for="courseName">Course Name:</label>
          <input type="text" id="courseName" name="courseName" required />
        </div>
        <div class="form-group">
          <label for="courseId">Course ID:</label>
          <input type="text" id="courseId" name="courseId" required />
        </div>
        <div class="form-group">
          <label for="instituteName">Institute Name:</label>
          <input type="text" id="instituteName" name="instituteName" required />
        </div>
        <div class="form-group">
          <label for="startDate">Course Start Date:</label>
          <input type="date" id="startDate" name="startDate" required />
        </div>
        <div class="form-group">
          <label for="endDate">Course End Date:</label>
          <input type="date" id="endDate" name="endDate" required />
        </div>
        <div class="form-group">
          <label for="file" class="custom-file-upload">
            Upload Certificate
          </label>
          <input type="file" id="file" name="file" accept=".png" required />
        </div>
        <button type="submit" class="btn-submit">Upload & Validate</button>
        <div id="upload-feedback"></div>
        <!-- Display upload feedback here -->
        <a id="downloadLink" style="display: none" download="Certificate.png">
          <button id="downloadButton">Download Certificate</button>
        </a>
      </form>
    </div>
    <canvas id="certificateCanvas" style="display: none"></canvas>

    <script src="../static/validate.js"></script>
  </div>
</body>

</html>